<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
    <title>Mi Login</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">

	</head>
    <body>
        <!-- <h1 th:inline="text"> Hola [[${#httpServletRequest.remoteUser}]]!</h1>-->
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Cerrar Sesion"/>
        </form>
        <h1><a th:href="@{/admin}"> admin</a> | <a th:href="@{/user}"> user</a>| <a th:href="@{/menu}"> Menu</a></h1>
        
        <table border="1">
	        <thead>
		        <tr>
		        	<th>uno </th>
		        	<th>dos </th>
		        </tr>
	        </thead>
	        <tbody>
	       		<tr th:each=" user : ${usuarios}" >
		        	<th th:text= "${user.name}"> </th>
		        	<th th:text= "${user.username}"> </th>
	        	</tr>
	        </tbody>
        </table>
        <br>
        <form action="#" th:action="@{/user/addusers/}" th:object="${user}" method="post">
        	<p><input type="text" placeholder="nombre" th:field="*{name}"/></p>
        	<p><input type="text" placeholder="username" th:field="*{username}"/></p>
        	<p><input type="password" placeholder="contraseña" th:field="*{password}"/></p>
        	<p><input type="submit" value="Enviar"/></p>
        	
        </form>
        
	</body>
</html>